
.page-header {
    background-color: #363636;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    height: 55px;
    border: none;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 34pt;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    margin: 0px;
}

.content {
    font-size: 12pt;
}

