body {
  background-color: #ededed;
}

.navbar {
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}

.nav-title,
.nav-title:visited,
.nav-title:active {
  padding: 15px;
  font-size: 30pt;
  font-weight: 600;
  font-family: 'Lobster', cursive;

  color: #ffffff;

}

header li {
  font-style: italic;
}

.content {
  height: auto;
  min-height: 100%;
  margin-top: 50px;
  padding-bottom: 180px;
  padding: 0px;

  background-color: #ffffff;
  font-size: 12pt;
}

.content .row {
  width: 100%;
  margin: 0px;
}

.navbar-footer {
  width: 100%;
  height: 80px;
  margin: 0px;
  padding: 0px;

  border-radius: 0px;
  border: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.footer-site-info {
  position: absolute;
  right: 0px;
  margin-top: 30px;
  align-self: right;

  font-size: 18px;
  font-family: 'Fredoka One';
  color: #ffffff;
}

h1 {
  color: black;
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: bold;
}