
.page-header {
  height: 50px;
  margin: 0px;
  padding: 0px 20px 0px 20px;

  background-color: #1f1f1f;/*#363636;*/
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,1);
}


.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
  margin: 0px;

  font-size: 32pt;
  font-weight: 600;
  font-family: 'Lobster', cursive;

  color: #ffffff;
}

.content {
  width: 100%;

  margin: 0px;
  padding: 0px;

  font-size: 12pt;
}