
.navbar {
  border: none;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  width: 100%;
}

.nav-title,
.nav-title:visited,
.nav-title:active {
  padding: 15px;
  font-size: 30pt;
  font-weight: 600;
  font-family: 'Lobster', cursive;

  color: #ffffff;

}

.content {
  height: auto;
  min-height: 100%;
  width: 100%;
  margin-top: 50px;
  padding-bottom: 180px;
  padding: 0px;

  font-size: 12pt;
  background-color: #ededed;
}

.navbar-footer {

  height: 80px;
  margin: 0px;
  padding: 0px;

  border-radius: 0px;
  border: none;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.author-info {
  position: absolute;
  right: 0px;
  margin-top: 20px;
  align-self: right;

  color: #ffffff;
}