{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/detail_page_styles.css' %}" />
{% endblock head %}



{% block content %}

  <div class="detail-page-container">
    <div class="detail-page-block title-container col-xs-12">
      <h1>Виды коктейлей</h1><hr>
      <p>
        Думаю, каждый знает что такое коктейли - напитки, получаемые путем смешивания
        нескольких видов жидкостей. Но какие виды коктейлей вы знаете? Самое очивидное,
        что приходит в голову - это классификация на алкогольные коктейли и безалкогольные.
        Но самом деле не все так просто, если дело касается алкогольных коктейлей.
        Вообще говоря, далеко не всегда так просто определить группу коктейля. Давайте попробуем разобраться.
      </p><hr>
      <h2>Классификация коктейлей по крепкости и объему напитка</h2>
      <p>
        В зависимости от того, какой объём имеет напиток и какова его крепкость,
        различают следующие виды коктейлей:
      </p>
      <ul>
        <li>
          <strong>Hot Drinks</strong> - горячие коктейли. Крепкость данных напитков от 12% до 35%,
          а объем от 60 мл.
        </li>
        <li>
          <strong>Long Drinks</strong> - длинные напитки с крепкостью от 7% до 17% и
          объемом от 160 до 300 мл.
        </li>
        <li>
          <strong>Short Drinks</strong> - крепкие напитки. Объем от 60 до 160 мл,
          крепкость от 17% до 45%.
        </li>
        <li>
          <strong>Shot Drinks</strong> - шоты или напитки, которые выпиваются залпом.
          Обычно имеют объем от 40 до 60 мл и высокую крепкость.
        </li>
      </ul><hr>
      <h2>Классификация напитков по времени употребления</h2>
      <p>
        Некоторые напитки принято пить до еды, другие же после приема пищи. Также есть кокетйли,
        которые одинаково приятно употреблять в любое время, будь то днем или ночью,
        до обеда или после. Рассмотрим каждый тип коктейлей подробнее:
      </p>
      <h3>Аперитивы</h3>
      <p>
        Группа коктейлий, которые принято употреблять до приема пищи. Их основная
        задача - возбудить аппетит. Известными аперитивами являются такие коктейли,
        как <strong>White Lady</strong>, <strong>Dry Martini</strong>, <strong>Kir</strong>.
        На юге европы популярны <strong>Nergoni</strong>, <strong>Americano</strong>, <strong>Picon</strong>.
      </p>
      <h3>Дижестивы</h3>
      <p>
        Группа коктейлей, подаваемая после еды. Часто в них очень большое количество сахара, в том числе и с кофе.
        Яркими представителями этой группы являются коктейли <strong>Черный русский</strong> и <strong>Alexander</strong>.
      </p>
      <h3>Any Time Drinks</h3>
      <p>
        Коктейли данной категории можно смело употреблять в любое время. Это самая популярная
        группа коктейлей, которая пользуется особой популярностью в ночных клубах, барах и на
        вечеринках. Среди популярных представителей этой группы можно отметить такие коктейли,
        как <strong>Маргарита</strong>, <strong>Лонг Айленд</strong> и <strong>Текила санрайз</strong>.
      </p><br>

    </div>
  </div>

{% endblock content %}