{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/detail_page_styles.css' %}" />
{% endblock head %}



{% block content %}

  <!-- container for all items -->
  <div class="detail-page-container">

    <!-- container for the object's name, title image and description -->
    <div class="detail-page-block title-container col-xs-12">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <h1>{{ object.name }}</h1><hr>
        {% if object.description %}
          <p>{{ object.description }}</p>
        {% endif %}
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <img class="img-responsive" src="{{ IMAGE_URL }}{{ object.image.url }}">
      </div>
    </div> <!-- ./detail-page-block -->
  </div>  <!-- ./detail-page-container -->

  {% endblock content %}