{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock head %}


{% block content %}

  {% block logo_area %}

  <!-- logo area -->
  <div class="logo-area">
    <!-- slider -->
    <div id="logo-slider" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <!-- slide #1: the form for searching cocktails. -->
        <div class="item active">
          <div class="cocktails-search-form">
            <form action="" method="get">
              <span>
                <i class="loup-search-icon glyphicon glyphicon-search"></i>
                {{ recipes_search_form.query }}
                <input class="cocktails-search-button" type="submit" value="Найти">
              </span>

              <div class="checkbox-container">
                <div class="cocktail-checkbox">
                  {{ recipes_search_form.is_long }}
                  <label for="long-checkbox"><img src="{% static 'img/long.png' %}"></label>
                  <label class="checkbox-labels">лонги</label>
                </div>

                <div class="cocktail-checkbox">
                  {{ recipes_search_form.is_shot }}
                  <label for="shot-checkbox"><img src="{% static 'img/shot.png' %}"></label>
                  <label class="checkbox-labels">шоты</label>
                </div>

                <div class="cocktail-checkbox">
                  {{ recipes_search_form.is_strong }}
                  <label for="strong-checkbox"><img src="{% static 'img/strong.ico' %}"></label>
                  <label class="checkbox-labels">крепкие</label>
                </div>

                <div class="cocktail-checkbox">
                  {{ recipes_search_form.is_non_alcoholic }}
                  <label for="non-alcoholic-checkbox"><img src="{% static 'img/non-alcoholic.ico' %}"></label>
                  <label class="checkbox-labels">без алкоголя</label>
                </div>
              </div>
            </form>
          </div> <!-- /.cocktails-search-form -->
          <a class="right carousel-control" href="#logo-slider" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div> <!-- /slide #1 -->

        <!-- slide #2: the form for searching ingredients. -->
        <div class="item">
          <div class="container">
          <h1>Slide 2</h1>
          <a class="left carousel-control" href="#logo-slider" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          </div>
        </div>

      </div> <!-- /.carousel-inner -->
    </div> <!-- /#logo-slider -->
  </div> <!-- /.logo-area -->
  {% endblock logo_area %}

  {% if not recipes %}
  <div class="errors">
    <h2>Не найдено ни одного рецепта коктейля соответствующего запросу</h2><hr class="hrs">
    <h5>Попробуйте задать другие критерии поиска и повторить заново</h5>
  </div>
  {% endif %}

  {% if recipes %}
  <div class="recipe-list row">
    {% for recipe in recipes %}
      <div class="recipe-icon col-xs-6 col-sm-6 col-md-4 col-lg-4">
        <a href="{% url 'recipes_adviser:recipe_detail' recipe.id %}">
          <h2><span>{{ recipe.title }}</span></h2>
          <img class="" src="{{ IMAGE_URL }}{{ recipe.title_image.url }}">
        </a>
      </div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock content %}
