<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>{{ ingredient.name }}</h1>
    <img src="{{ IMAGE_URL }}{{ ingredient.image.url}}"
         height="{{ img_size.height }}" width="{{ img_size.width }}"/>
    <p>
        {% if ingredient.abv %}
            <strong>Крепкость:</strong> {{ ingredient.abv }}<br>
        {% endif %}

        {% if ingredient.description %}
            <strong>Описание: </strong>{{ ingredient.description }}
        {% endif %}
    </p>
</body>
</html>