{% extends 'base.html' %}

{% load staticfiles %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/detail_page_styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recipe_detail.css' %}" />
{% endblock head %}



{% block content %}

  <!-- container for all items -->
  <div class="detail-page-container">

    <!-- container for the recipe's name, title image and description -->
    <div class="detail-page-block title-container col-xs-12">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <h1>{{ recipe.title }}</h1><hr>
        <!--
        {% if recipe.author %}
          <strong>Автор: </strong> {{ recipe.author }} <br>
        {% endif %}
        -->
        {% if recipe.description %}
          <p>{{ recipe.description }}</p>
        {% endif %}
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <img class="img-responsive" src="{{ IMAGE_URL }}{{ recipe.title_image.url }}">
      </div>
    </div> <!-- ./detail-page-block -->

    <!-- container for tools, ingredients and stages blocks -->
    <div class="row row-eq-height-lg row-eq-height-md">
      <!-- container for tools and ingredients -->
      <div class="left-shared-block-md col-xs-12 col-lg-6">
        <!-- container for tools -->
        <div class="detail-page-block col-xs-12">
          <h3>Инструменты</h3><hr>
          <ul>
            {% for tool in recipe.tools.all %}
              <li>
                <a href="{% url 'recipes_adviser:tool_detail' tool.id %}"> {{ tool.name }} </a>
              </li>
            {% endfor %}
          </ul><br>
        </div> <!-- end tools container -->

        <!-- container for ingredients -->
        <div class="detail-page-block col-xs-12">
          {% load recipe_extras %}
          <h3>Список ингредиентов</h3><hr>
          <ul>
            {% for item in recipe.components.all %}
              <li>
                <a href="{% url 'recipes_adviser:ingredient_detail' item.ingredient.id %}">
                  {{ item.ingredient.name }}
                </a> -
                <strong>
                  {{ item.up_quantity|floatformat:"0" }}
                  {% if item.to_quantity %}
                    - {{ item.to_quantity|floatformat:"0" }}
                  {% endif %}
                  {{ measures|item:item.ingredient.measure }}
                </strong>
              </li>
            {% endfor %}
          </ul><br>
          </div> <!-- end ingredients container -->
      </div> <!-- end container for tools and ingredients -->

      <!-- container for stages -->
      <div class="detail-page-block col-xs-12 col-lg-6">
        <h3>Этапы приготовления</h3><hr>
        <ol>
          {% for stage in recipe.stages.all %}
            <li><p>{{ stage.content }}</p></li>
          {% endfor %}
        </ol>
      </div> <!-- end stages container -->
    </div> <!-- end container for tools, ingredients and stages -->
  </div>  <!-- ./detail-page-container -->

  {% endblock content %}