.content {
  background-color: #ededed;
  margin-bottom: 30px;
}

.detail-page-block {
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.detail-page-container {
  margin-top: 5px;
}

@media (max-width: 767px) {
  .row-eq-height-xs {
    display: flex;
  }

  .left-shared-block-lg,
  .left-shared-block-md,
  .left-shared-block-sm {
    padding: 0px;
  }

  .left-shared-block-xs {
    padding: 0px 15px 0px 0px;
  }
}

@media (min-width: 768px) {
  .row-eq-height-sm {
    display: flex;
  }

  .left-shared-block-lg, 
  .left-shared-block-md {
    padding: 0px;
  }

  .left-shared-block-sm {
    padding: 0px 15px 0px 0px;
  }

  .detail-page-container {
    padding: 0px 15px 0px 15px;
  }
}

@media (min-width: 992px) {
  .row-eq-height-md {
    display: flex;
  }

  .left-shared-block-lg {
    padding: 0px;
  }

  .left-shared-block-md {
    padding: 0px 15px 0px 0px;
  }
}

@media (min-width: 1200px) {
  .row-eq-height-lg {
    display: flex;
  }

  .left-shared-block-lg {
    padding: 0px 15px 0px 0px;
  }
}
