
.content {
  width: 100%;

  background-color: #ededed;
}

.logo-area {
  height: 350px;

  background: url('../img/logo_blur.jpeg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.item {
  height: 350px;
}

.carousel-control .glyphicon {
  margin-top: -120px;
}

.cocktails-search-form {
  position: relative;

  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}


/* Styles for button to load items by ajax. */
.upload-items-button-container {
  position: relative;

  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

#upload-items-button {
  width: 60%;
  max-width: 300px;
  height: 50px;

  background-color: white;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

#upload-items-button:hover {
  border: 1px solid #c4c4c4;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.4);*/
}

#upload-items-button span {
  margin-right: 10px;
}



#upload-items-button span {
  position: relative;
  vertical-align: center;

  font-weight: bold;
}


/* Styles for the error block. */
.errors {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.errors hr {
  height: 1px;
  width: 90%;

  background-color: black;
  color: black;
}


/* Search field and button for searching recipes. */
.loup-search-icon {
  color: white;
}

.cocktails-search-text-field {
  width: 60%;
  height: 36px;
  margin: 10px;
  margin-right: 0px;
  font-size: 18px;
  color: white;
  text-indent: 35px;

  border: none;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);

  background: rgba(0, 0, 0, 0.9);
}

.cocktails-search-text-field:focus {
  border: 1px solid #2e3fef;
}

.cocktails-search-form i {
  margin-right: -35px;
}

.cocktails-search-button {
  position: relative;
  left: -5px;

  height: 36px;
  width: 70px;
  padding: 0px;
  margin: 0px;
  padding-top: 1px;

  border: none;
  background-color: #ffff3g;
  box-shadow: 0 0 30px rgba(0, 0, 0, 1);
}


/* Styles for custom checkboxes. */
.checkbox-container {
  margin-top: 50px;
}

.checkbox-labels {
  display: block;
  max-height: 14px;

  text-align: center;
  font-size: 14px;

  color: white;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.cocktail-checkbox {
  margin-right: 4%;
  display: inline-block;
  vertical-align: top;
}

.checkbox-container input[type="checkbox"] + label {
  width: 60px;
  height: 60px;

  background: rgba(0, 0, 0, 0.65);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.checkbox-container input[type="checkbox"]:checked + label {
  border-color: #2e3fef;
}

.checkbox-container img {
  padding: 9px;
  width: 100%;
}

.ingredients-search-open-btn {
  background: rgba(0, 0, 0, 0.1);
  border: none;
}


/* Styles for the area where the list of recipes are outputed. */
.recipe-list {
  padding-bottom: 30px;
  margin: 0 auto;
  text-align: center;
}

.recipe-icon {
  display: inline-block;
  float: none;
  width: 300px;
  height: 230px;
  margin-right: 1%;
  margin-top: 3%;
  padding: 0px;

  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.recipe-icon:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.recipe-icon img {
  vertical-align: middle;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.recipe-icon h2 {
  position: absolute;

  height: 50px;
  width: 100%;
  margin-top: 0px;
  text-align: left;

  background: rgba(0, 0, 0, 0.55);
}

.recipe-icon span {
  position: absolute;

  margin-left: 10px;
  padding-top: 10px;

  color: white;
  font: bold 20px Helvetica, Sans-Serif;
  letter-spacing: -1px;
}
